@import "../../assets/styles/vars";

//id = "footer-email"
//placeholder = "Your email address"
//type = "text" / "email" / "tel"
//length = "large" / "default" / "small"
//color = "light" / "dark"
//label = "Email:"

.inputWrapper{
  display: flex;
  flex-direction: column;
}

.input.large{
  padding: 13px 16px;
  width: 390px;
  height: 52px;
  @extend %base-regular;
  & + label {
    @extend %base-regular;
    color: var(--color-gray-800);
  }
}

.input.default{
  padding: 11px 16px;
  width: 390px;
  height: 44px;
  @extend %small-regular;
  & + label {
    @extend %small-regular;
    color: var(--color-gray-800);
  }
}

.input.small{
  padding: 9px 12px;
  width: 390px;
  height: 36px;
  @extend %extrasmall-regular;
  & + label {
    @extend %extrasmall-regular;
    color: var(--color-gray-800);
  }
}

.input.light{
  background: var(--color-gray-200);
  border: 1px solid var(--color-gray-400);
  color: var(--color-gray-600);
}

.input.dark{
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  & + label {
    color: var(--color-white);
  }
}

.input + label {
  display: block;
  order: -1;
  margin-bottom: 8px;
}

.input{
  border-radius: 4px;
  outline: none;

  &:focus{
    background: #FFFFFF;
    border: 1px solid rgba(255, 90, 48, 0.4);
    box-shadow: 0 80px 80px -20px rgba(255, 90, 48, 0.08), 0px 30px 24px -10px rgba(255, 90, 48, 0.05), 0px 12px 10px -6px rgba(255, 90, 48, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    color: var(--color-gray-800);
  }
  &:read-only, &:disabled{
    background: var(--color-gray-200);
    border: 1px solid var(--color-gray-400);
    color: var(--color-gray-600);
  }
  &:not(:placeholder-shown) {
    color: var(--color-gray-900);
    background: #FFFFFF;
  }
}
