@import "../../../assets/styles/vars";


.services{

  &__wrapper{
    //background: var(--color-gray-200);
    background: url("../../../assets/img/homepage/services/bg-image.png") var(--color-gray-200) top center no-repeat;
    transform: translateY(-100px);
    padding-top: 212px;
    padding-bottom: 85px;
  }

  &__title{
    color: var(--color-gray-900);
    text-align: center;
    margin-bottom: 25px;
  }
  &__text{
    color: var(--color-gray-700);
    @extend %large-regular;
    text-align: center;
    margin-bottom: 60px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  &__item{
    width: 285px;
    height: 285px;
    position: relative;
    margin-bottom: 85px;
    border: 1px solid var(--color-gray-300);
    box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;

    &:hover{

      .services__over {
        //z-index: -200;
        background: rgba(#1E212C, 0.6);
      }
      .services__link{
        & svg path{
          fill: var(--color-white);
        }
      }
      .services__description {
        color: var(--color-white);
      }
    }
  }
  &__link{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__link{
    & svg{
      display: block;
      //margin: 90px auto 25px auto;
      margin-bottom: 25px;
    }
    & svg path{
      fill: var(--color-primary);
    }
  }
  &__link{
    & svg path{
      transition: .3s linear;
    }
  }
  &__over{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    transition: .3s linear;
    z-index: -1;
  }
  &__description{
    //margin-bottom: 90px;
    @extend %lead-bold;
    text-align: center;
    color: var(--color-gray-900);
    transition: .3s linear;
  }
  &__img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
  }
  &__learnblock{
    text-align: center;
  }
  &__learn{
    color: var(--color-gray-900);
    margin-right: 40px;
    display: inline-block;
  }



}