@import "../../assets/styles/vars";

//title = "Click"
//type = "button" / ""submit" / "reset"
//color = "primary" / "inverse"
//length = "large" / "regular" / "small"
//link = "http://localhost:3000/"
//withAddIcon

.buttonWrapper{
  display: inline-block;
  position: relative;;
}

.buttonlink{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button{
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 4px;
  gap: 10px;
  cursor: pointer;
}
.button.large{
  padding: 13.22px 40px;
  //height: 52px;
  @extend %base-bold;
  & svg{
    margin-left: 11px;
    width: 18px;
    height: 11px;
  }
}

.button.regular{
  padding: 11.5px 32px;
  //height: 44px;
  @extend %small-bold;
  & svg{
    margin-left: 10px;
    width: 12px;
    height: 7px;
  }
}

.button.small{
  padding: 9px 24px;
  //height: 36px;
  @extend %extrasmall-bold;
  & svg{
    margin-left: 10px;
    width: 12px;
    height: 7px;
  }
}

.button.primary{
  background: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  transition: .3s ease;
  &:hover{
    background: #FC3300;
  }
  &:active{
    background: #FC3300;
  }
  &:disabled{
    background: rgba(var(--color-primary), 0.5);
  }
  & svg path{
    fill: var(--color-white);
  }
}
.button.inverse{
  color: var(--color-primary);
  background: var(--color-white);
  border: 1px solid var(--color-primary);
  transition: .3s ease;
  &:hover{
    background: var(--color-primary);
    color: var(--color-white);
    & svg path{
      fill: var(--color-white);
    }
  }
  &:active{
    background: var(--color-primary);
    color: var(--color-white);
    & svg path{
      fill: var(--color-white);
    }
  }
  &:disabled{
    background: rgba(var(--color-white), 0.5);
    color: var(--color-primary);
    & svg path{
      fill: var(--color-primary);
    }
  }
  & svg path{
    fill: var(--color-primary);
  }
}

