@import "../../../assets/styles/vars";

.testimonials{
  background: var(--color-gray-200);
  //margin-bottom: 180px;
  &__container.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-bottom: 120px;
    .slick-slider.slick-initialized {
      .slick-arrow {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        transition: .3s ease;
        &:hover {
          background: var(--color-primary);
          &.slick-prev:before {
            content: url("data:image/svg+xml,<svg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M6.20711 11.2071C5.81658 11.5976 5.18342 11.5976 4.79289 11.2071L0.292892 6.70711C-0.0976315 6.31658 -0.0976315 5.68342 0.292892 5.29289L4.79289 0.792893C5.18342 0.402369 5.81658 0.402369 6.20711 0.792893C6.59763 1.18342 6.59763 1.81658 6.20711 2.20711L3.41421 5L17 5C17.5523 5 18 5.44772 18 6C18 6.55228 17.5523 7 17 7L3.41421 7L6.20711 9.79289C6.59763 10.1834 6.59763 10.8166 6.20711 11.2071Z' fill='white'/> </svg>");
          }
          &.slick-next:before{
            content: url("data:image/svg+xml,<svg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M11.7929 0.792893C12.1834 0.402369 12.8166 0.402369 13.2071 0.792893L17.7071 5.29289C18.0976 5.68342 18.0976 6.31658 17.7071 6.70711L13.2071 11.2071C12.8166 11.5976 12.1834 11.5976 11.7929 11.2071C11.4024 10.8166 11.4024 10.1834 11.7929 9.79289L14.5858 7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H14.5858L11.7929 2.20711C11.4024 1.81658 11.4024 1.18342 11.7929 0.792893Z' fill='white'/></svg>");
          }
        }
      }
      .slick-arrow.slick-prev {
        position: absolute;
        top: unset;
        left: unset;
        right: 48px;
        bottom: 0;
        z-index: 10;
        transform: none;
      }
      .slick-arrow.slick-next {
        top: unset;
        right: 0;
        bottom: 0;
        left: unset;
        transform: none;
      }
      .slick-next:before {
        content: url('../../../assets/img/homepage/heroslider/arrownext.svg');
        position: relative;
        top: -3px;
      }
      .slick-prev:before {
        content: url('../../../assets/img/homepage/heroslider/arrowprev.svg');
        position: relative;
        top: -3px;
      }
    }
  }
  &__title{
    color: var(--color-gray-900);
    margin-bottom: 60px;
  }
  &__left-part{
    width: 50%;
  }
  &__profile-img{
    width: 72px;
    height: 72px;
    border-radius: 100%;
    margin-bottom: 25px;
  }
  &__profile-comment{
    color: var(--color-gray-800);
    @extend %base-regular;
    margin-bottom: 25px;
  }
  &__profile-name{
    display: block;
    color: var(--color-gray-900);
    @extend %base-bold;
    margin-bottom: 5px;
  }
  &__profile-company{
    color: var(--color-gray-700);
    @extend %small-regular;
  }
  &__right-part{
    position: absolute;
    width: 45%;
    top: 0;
    bottom: -60px;
    right: 0;
  }
  &__img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: -10px;
    right: 0;
    width: 100%;
    height: 100%;
  }

}