@import "../../assets/styles/vars";

.aboutuspage{
  .our-something{
    background-color: var(--color-gray-200);
    padding-top: 80px;
  }
  .clients{
    background-color: var(--color-white);
  }

}
