@import "../../assets/styles/vars";

.our-something{

  &__container.container{
  }
  &__title{
    text-align: center;
    margin-bottom: 25px;
    color: var(--color-gray-900);
  }
  &__text{
    text-align: center;
    @extend %large-regular;
    color: var(--color-gray-700);
    margin-bottom: 60px;
  }
  &__list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 168px;
  }

  &__item{
    width: 33%;
    padding: 0 55px;
    position: relative;
    &:not(:last-child):after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      height: 100%;
      background: var(--divider-gradient);

    }
  }
  &__item svg{
    margin-bottom: 25px;
  }
  &__item-title{
    @extend %lead-bold;
    color: var(--color-gray-900);
    margin-bottom: 8px;
  }
  &__item-text{
    @extend %base-regular;
    color: var(--color-gray-700);
  }
}