@import "../../../assets/styles/vars";

.construction{
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url('../../../assets/img/servicespage/construction/bg-image-right.png'), url('../../../assets/img/servicespage/construction/bg-image-left.png');
  background-position: center right, bottom left;
  background-repeat: no-repeat, no-repeat;
  &__item{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
  }
  &__item:not(:last-child){
    margin-bottom: 120px;
  }
  &__item-imgwrapper{
    width: 50%;
  }
  &__item-title{
    color: var(--color-gray-900);
    margin-bottom: 24px;
  }
  &__item-description{
    max-width: 570px;
    color: var(--color-gray-700);
    @extend %base-regular;
    margin-bottom: 48px;
  }
  &__item:nth-child(2n){
    flex-direction: row-reverse;
  }
  &__item-info{
    width: 50%;
  }
}