@import "../../../assets/styles/vars";

.requestform{
  position: relative;
  z-index: 5;
  &__container.container{
    padding: 0 60px 60px 48px;
    background-color: var(--color-white);
  }
  &__title{
    margin-bottom: 32px;
    color: var(--color-gray-900);
    text-align: center;
  }
  &__form{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 24px;
  }

  #requestform__input-name, #requestform__input-phone{
    width: 260px;
  }
  #requestform__input-message{
    width: 414px;
  }
}