@import "../../../../assets/styles/vars";

.subscribemodal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(30, 33, 44, 0.75);
    z-index: 40;
  }
  &__content {
    width: 486px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid var(--color-gray-300);
    box-shadow: 0 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
    padding: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
  }

  &__title {
    color: var(--color-gray-900);
    margin-bottom: 24px;
    text-align: center;
  }

  &__inputs {
    margin-bottom: 20px;
  }

  .input {
    margin-bottom: 20px;
  }

  .buttonWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .button {
    width: 100%;
  }

  &__closebtn {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;
    background: transparent;

    & svg path {
      transition: .3s ease;
    }

    &:hover {
      & svg path {
        fill: var(--color-primary);
      }
    }
  }
}